$width-phone-device: 768px;

$color-black: #000;
$color-white: #fff;
$color-error: red;
$color-gray: #f1f1f1;
$color-border: #ddd; 
$color-overlay: rgba(0,0,0,0.4);
$color-white-opacity: rgba(255,255,255,0.8);

$border-style: 1px solid $color-border;
$border-radius: 2px;
$border-radius-bigger: 4px;

$shadow-style: 0px 8px 16px 0px rgba(0,0,0,0.2); 

$img-logo: url('../images/reebonz_logo_desktop.png');
$img-auth: url('../images/auth-image-default.jpg');

$font-size-normal: 12px;
$font-size-h1: 20px;
$font-size-h2: 16px;

