@import 'variables';
@import './components/grid';
@import './components/dropdown';
@import './components/header';
@import './components/tab';
@import './components/modal';
@import './components/signin';
@import './components/button';
@import './components/product';
@import './components/index';

body {
  margin: 0;
  
}

h1, p, div, a {
  text-decoration: none;
  color: $color-black;
  font-size: $font-size-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bordered {
  border: $border-style;
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  @media only screen and (max-width: $width-phone-device) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content, .header {
  transition: margin-left 0.5s;
  width: 100%;
}


input {
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: $border-radius;
  border: $border-style;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}


a[role='button'] {
  cursor: pointer;
}





