.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: $color-white;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s ;
    box-shadow: $shadow-style;
    
  }
  &:hover, &:focus-within {
    .dropdown-content {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      z-index: 1000;
      top: 26px;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
      border: $border-style;
    }
    
  }
}