@function column-width($col) {  
  @return percentage($col/12);  
}

@for $i from 1 through 12 {  
  .col-lg-#{$i} { 
    width: column-width($i);  
  };
  
  @media only screen and (max-width: $width-phone-device){
    .col-sm-#{$i} { 
      width: column-width($i);  
    };
  }
 
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}
