
.header {
  // ******************* //
  // ***** Desktop ***** //
  // ******************* //

  &.desktop-view {
    display: block;
    // ***** Baner ***** //
    .banner {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
    
      .logo {
        display: flex;
        justify-content: center;
        a {
          div {
            display: inline-block;
            width: 194px;
            height: 28px;
            background-image: $img-logo;
          }
        }
        
      }
    
      .sign-button {
        text-align: right;
      }
    
    }

    // ***** Menu ***** //
    .menu {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $color-black;
      
      .menu-item {
        padding: 0 19px;
        padding-bottom: 13px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
          color: red;
        }
    
        .sub-menu {
          .menu-item {
            display: block;
            padding: 10px 0;
            margin-bottom: 0;
            border-bottom: $border-style; 
            text-transform: none;
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      .sub-menu-view-items {
        display: none;
      }
        
    }

  }

  &.mobile-view {
    display: none;
    border-bottom: $border-style;
    .banner {
      display: flex;
      align-items: center;
      padding: 20px 0;

      .toggle-button {
        font-size: 20px;
      }

      .logo {
        margin-left: 20px;
        a {
          div {
            display: inline-block;
            width: 110px;
            height: 15px;
            background-image: $img-logo;
            background-size: cover;
          }
        }
       
      }
      
    }
    .menu {
      background: $color-gray;
      height: 100%; 
      width: 0; 
      position: fixed;
      z-index: 1; 
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s; 
      border-right: $border-style;

      .menu-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1; 
      }
      
      .menu-item {
        background: $color-white;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: $border-style; 
        
        &:last-child {
          border-bottom: 0;
        }

        button {
          width: 100%;
        }

        
        &.bg-black {
          background: $color-black;
        }
        .sub-menu-view-items {
          background: $color-white;
          position: fixed;
          top:0;
          left: -215px;
          width: 215px;
          bottom: 0;
          z-index: 3;
          height: 100vh;
          transition: 0.5s; 

          .active-menu {
            color: $color-white;
          }
          .close-sub-button {
            text-transform: none;
          }

        }
        &:focus {
          .sub-menu-view-items {
            left: 0;
          }
        }
        
      }
      
    }
    
  }

  @media only screen and (max-width: $width-phone-device){
    &.desktop-view {
      display: none;
    }
    &.mobile-view {
      display: block;
    }
  }

  
}