div[class*='section-layout-'] {
  margin-top: 20px;
}

.section-layout-1 {
  padding: 10px 0;
  border: 1px solid $color-black;

  @media only screen and (max-width: $width-phone-device){ 
    flex-direction: column-reverse;
  }

  .section-item {
    height: auto;
    margin: 5px;
    width: calc(50% - 10px);

    @media only screen and (max-width: $width-phone-device){ 
      width: calc(100% - 10px);
    }
    .section-content {
      padding: 10px;
    }
  }
  .section-1-1 {
    background: aqua;
    
  }
  .section-1-2 {
    background: lightpink;
    
  }
  .section-list {
    @media only screen and (max-width: $width-phone-device){ 
      text-align: center;
    }
  }
}



.section-layout-3  {
  .section-item {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      text-align: center;
    }
  }
  

  .section-item-1 {
    background: lightcoral;
  }
  .section-item-2 {
    background: lightgreen;
  }
  .section-item-3 {
    background: lightcyan;
  }
  .section-item-4 {
    background: lightseagreen;
  }


  @media only screen and (max-width: $width-phone-device){
    .section-item-1 {
      order: 4;
    }
    .section-item-2 {
      order: 2;
    }
    .section-item-3 {
      order: 2;
    }
    .section-item-4 {
      order: 1;

    }
  }

}