.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: $color-black;
  background-color: $color-overlay;
  .modal-content {
    background-color: $color-white;
    margin: 15% auto;
    width: 600px; 
    position: relative;
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}