.products-section {
  .header {
    margin: 20px 0 15px 0;
    h1 {
      text-align: center;
    }
  }
  

  .products-layout {
    display: flex;
    flex-wrap: wrap;
  
    .product-item {
      width: column-width(4);
      height: 250px;

      @media only screen and (max-width: $width-phone-device){
        width: column-width(6);
      }

      .product-content {
        height: calc(100% - 20px);
        width: calc(100%-20px);
        margin: 10px;
        position: relative;
        .image {
          height: 100%;
          background-image: $img-auth; //set default image
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
  
        .information {
          position: absolute;
          bottom: 10px;
          left: 0;
          background: $color-white-opacity;
          max-width: 60%;
          padding: 10px;
  
        }
  
      }
    }
    
    @media only screen and (min-width: $width-phone-device+1){
      .product-item:nth-child(10n + 1), .product-item:nth-child(10n + 7) {
        width: column-width(8);
        
      }
    }
    
  }

}

  