.signin-modal {

  h2 {
    text-align: center;
  }
  .image-header {
    img {
      width: 100%;
      height: auto;
    }
  }
  .signin-form-content {
    padding-bottom: 20px;
    button {
      width: 100%;
    }

    .form-item {
      margin-bottom: 10px;
    }

  }
  .error {
    color: $color-error;
  }
}