.tab-layout {
  border: $border-style;
  border-radius: $border-radius; 
  .tab-content {
    background: $color-white;
    padding: 20px;

    .tab-content-item {
      display: none;
    }

    .tab-content-item {
      &.active {
        display: block;
      }
    }
  }

  .tab {
    padding: 10px 10px 0 10px;
    background: $color-gray;
    border-bottom: $border-style;
    .tab-item {
      padding: 15px 20px 10px 20px;
      display: inline-block;
    
      &.active {
        background: $color-white;
        border: $border-style;
        border-bottom: 1px solid $color-white; 
        margin-bottom: -2px; 
        border-radius: $border-radius; 
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        font-weight: 600;
      }
    }
  }
}
  